pyglet
pillow
moderngl
numpy
pyrr
imgui
torch
scipy
plyfile
torchvision
opencv-python
tqdm
open3d
setuptools
transformers
diffusers
dearpygui
flask
comtypes
pyperclip
datasets
imgui[full]
moderngl-window